@import 'src/styles/variables.scss';

.logger {
  height: 7em;
  overflow-y: auto;
  color: $clr_logger_text_dimmed

  :last-child {
    color: $clr_logger_text;
  }
}

.title {
  font-weight: 700;
  margin-bottom: 0.5em;
}
