{
  "presets": [
    ["env", {
      "targets": {
        "browsers": [
          "last 2 Chrome versions",
          "last 2 Firefox versions",
          "last 2 Edge versions"
        ]
      },
      "modules": false,
      "loose": true
    }],
    "react"
  ],
  "plugins": ["transform-object-rest-spread"],
  "env": {
    "test": {
      "presets": ["es2015", "react"]
    }
  }
}
