@import 'src/styles/variables.scss';

.grid {
  border-collapse: collapse;
  font-family: $fnt_family_grid;
}

.tile {
  height: 1.2em;
  width: 1.2em;
  border: 1px solid $clr_grid;
  padding: 0;

  & > * {
    width: 100%;
    height: 100%;
  }
}

.wall {
  background: $clr_wall;
}

.room {
  background: $clr_room;
}

.corridor {
  background: $clr_corridor;
}

.wall, .room, .corridor {
  text-align: center;
}
