@import 'src/styles/variables.scss';

.grid {
  border-collapse: collapse;
  font-family: $fnt_family_grid;
}

.tile {
  height: 1.3em;
  width: 1.3em;
  padding: 0;

  & > * {
    width: 100%;
    height: 100%;
  }
}

.wall {
  background: $clr_wall;
  border: 1px solid $clr_grid_dark;
}

.room {
  background: $clr_room;
  border: 1px solid $clr_grid;
}

.corridor {
  background: $clr_corridor;
  border: 1px solid $clr_grid;
}

.wall, .room, .corridor {
  text-align: center;
  overflow: hidden;
  height: inherit;
  box-sizing: border-box;
}

.dim-overlay {
  width: inherit;
  height: 2em;
  z-index: 1;
  background: $clr_fog;
}

.dim-border {
  border-color: mix($clr_grid, $clr_fog, 10%);
}
