@import 'src/styles/variables.scss';

.grid {
  border-collapse: collapse;
}

.tile {
  height: 10px;
  width: 10px;
  border: 1px solid $grid;
  padding: 0;

  & > * {
    width: 100%;
    height: 100%;
  }
}

.wall {
  background: $wall;
}

.room {
  background: $room;
}
