.bar {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.line {
  height: 100%;
  box-sizing: content-box;
  transition: width 0.3s cubic-bezier(0.02, 0.9, 0.12, 1.01);
}

.text {
  position: relative;
  transform: translateY(-100%);
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
