.bar {
  width: 100%;
  height: 1.2em;
  box-sizing: border-box;
  text-align: center;
}

.line {
  height: 100%;
  box-sizing: content-box;
}

.text {
  position: relative;
  transform: translateY(-100%);
  z-index: 1;
}
