@import 'src/styles/variables.scss';
@import 'src/styles/scrollbar.scss';

.inventory {
  height: 7em;
  user-select: none;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: auto;
  height: calc(100% - 1.2em);

  @include scrollbar;
}

.item {
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: $clr_item_highlight;
  }
}

.title {
  margin-bottom: 0.5em;
}
