$clr_wall: #abb;
$clr_room: #ddd;
$clr_corridor: $clr_room;
$clr_grid: lighten($clr_room, 4);
$clr_grid_dark: lighten($clr_wall, 4);
$clr_health_bar: red;
$clr_health_bar_border: red;
$clr_xp_bar: lightblue;
$clr_xp_bar_border: lightblue;
$clr_item_highlight: orange;
$clr_flicker_animation: red;
$clr_logger_text: #000;
$clr_logger_text_shaded: #aaa;
$clr_restart_hover: red;
$clr_help_hover: #490;
$clr_help_dim: #000;
$clr_help_font: #fff;
$clr_fog: rgba(60, 60, 60, 0.2);

$fnt_size_parent: 12px;
$fnt_family_grid: 'Arial';
