@import 'src/styles/variables.scss';

:global {
  body {
    background: $clr_app_background;
  }
}

$row_gap: 1em;

.app {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-gap: $row_gap;
  justify-content: center;
  font-family: $fnt_family_app;
  font-size: $fnt_size_parent;
  max-width: $app_max_width;
  margin: 0 auto;
  color: $clr_app_text;
}

.title {
  grid-column: 1 / -1;
  grid-row: 1;
  text-align: center;
  color: $clr_app_title;
  text-shadow: 0 0 2px $clr_app_title;
}

.bars {
  grid-column: 2 / 3;
  grid-row: 2;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -$row_gap;
}

.grid {
  grid-column: 2 / 3;
  grid-row: 3;
}

.health, .experience {
  height: 1.2em;
}

.health {
  border: 1px solid $clr_health_bar_border;

  & :first-child {
    background: $clr_health_bar;
  }
}

.experience {
  border: 1px solid $clr_xp_bar_border;

  & :first-child {
    background: $clr_xp_bar;
  }
}

.info {
  grid-column: 3;
  grid-row: span 2 / 4;
  display: flex;
  flex-direction: column;
}

.stats {
  padding: 1em;
  margin-bottom: 1em;

  span {
    opacity: 0.8;
  }
}

.inventory {
  padding: 1em;
  flex-basis: 100%;

  & > div:first-child {
    opacity: 0.8;
  }
}

.stats, .inventory {
  border-radius: 5px;
  background: $clr_section_background;

  li:not(:last-child) {
    margin-bottom: 0.2em;
  }
}

.logger {
  grid-column: 2 / 3;
  grid-row: 4;
}

.restart, .help {
  text-align: center;
}

.buttons {
  grid-column: 3;
  grid-row: 4;
  justify-self: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 3em;
}
