@import 'src/styles/variables.scss';

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: $fnt_size_parent;
  max-width: 100em;
  margin: 0 auto;
}

.bars {
  width: 100%;
  height: 1.2em;
  display: flex;
}

.health {
  border: 1px solid $clr_health_bar_border;

  & :first-child {
    background: $clr_health_bar;
  }
}

.experience {
  border: 1px solid $clr_xp_bar_border;

  & :first-child {
    background: $clr_xp_bar;
  }
}
